.card-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(245, 245, 245, 0.7);
  max-width: 400px;
  min-width: 335px;
  max-height: 400px;
  color: rgb(69, 69, 69);
  padding: 30px;
  border-radius: 30px;
}

.content {
  width: 95%;
}
.content > img { 
  min-width: 100px;
}

.content-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .card-container {
    width: 75%;
    min-width: 0;
  }
}

