.select-container select {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-color: rgb(245, 245, 245, 0.7); 
  color: rgb(69, 69, 69); 
  font-weight: 600;
  font-size: 16px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  cursor: pointer; 
  max-width: 200px;
  margin-bottom: 10px;
}